<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
             http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
             http://www.springframework.org/schema/context
             http://www.springframework.org/schema/context/spring-context-3.0.xsd
             http://www.springframework.org/schema/tx
             http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
             http://www.springframework.org/schema/aop
             http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<!-- action -->
	<bean id="logInAction" class="locationshare.action.LogInAction"
		scope="singleton">
	</bean>
	<bean id="profileAction" class="locationshare.action.ProfileAction"
		scope="singleton">
	</bean>

	<!-- servlet login instance -->
	<bean id="validateRegisterServlet" class="locationshare.servlet.ValidateRegisterServlet"
		scope="singleton">
		<property name="logInAction" ref="logInAction" />
	</bean>

	<bean id="signUpServlet" class="locationshare.servlet.SignUpServlet"
		scope="singleton">
		<property name="logInAction" ref="logInAction" />
	</bean>

	<bean id="logInServlet" class="locationshare.servlet.LogInServlet"
		scope="singleton">
		<property name="logInAction" ref="logInAction" />
	</bean>

	<bean id="ExceptionRecordServlet" class="locationshare.servlet.ExceptionRecordServlet"
		scope="singleton">
		<property name="logInAction" ref="logInAction" />
	</bean>

	<!-- servlet profile instance -->
	<bean id="updateUserDetailServlet" class="locationshare.servlet.UpdateUserDetailServlet"
		scope="singleton">
		<property name="profileAction" ref="profileAction" />
	</bean>
	<bean id="updateSignatureServlet" class="locationshare.servlet.UpdateSignatureServlet"
		scope="singleton">
		<property name="profileAction" ref="profileAction" />
	</bean>
	<bean id="updateHeadPortraitServlet" class="locationshare.servlet.UpdateHeadPortraitServlet"
		scope="singleton">
		<property name="profileAction" ref="profileAction" />
	</bean>
	<bean id="getUserDetailServlet" class="locationshare.servlet.GetUserDetailServlet"
		scope="singleton">
		<property name="profileAction" ref="profileAction" />
	</bean>
	<bean id="getSignatureServlet" class="locationshare.servlet.GetSignatureServlet"
		scope="singleton">
		<property name="profileAction" ref="profileAction" />
	</bean>
	<bean id="getHeadPortraitServlet" class="locationshare.servlet.GetHeadPortraitServlet"
		scope="singleton">
		<property name="profileAction" ref="profileAction" />
	</bean>
</beans> 