<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>LocationShare</display-name>
	<context-param>
		<param-name>validateConfigLocation</param-name>
		<param-value>
			/WEB-INF/conf/validateParam.xml
		</param-value>
	</context-param>
	<!-- log4j -->
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>/WEB-INF/conf/log4j.properties</param-value>
	</context-param>
	<!-- instance -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/conf/applicationContext.xml
			/WEB-INF/conf/applicationContext_com.xml
		</param-value>
	</context-param>
	<!-- encoding filter -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>locationshare.common.filter.CharacterEncodingFileter</filter-class>
		<init-param>
			<param-name>charset</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- print request filter -->
	<filter>
		<filter-name>PrintRequestInfoFilter</filter-name>
		<filter-class>locationshare.common.filter.PrintRequestInfoFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>PrintRequestInfoFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- request filter :intercept some illegal request -->
	<!-- <filter> <filter-name>RequestFilter</filter-name> <filter-class>locationshare.common.filter.RequestFilter</filter-class> 
		</filter> <filter-mapping> <filter-name>RequestFilter</filter-name> <url-pattern>/*</url-pattern> 
		</filter-mapping> -->

	<!-- validate params filter -->
	<filter>
		<filter-name>ValidateFilter</filter-name>
		<filter-class>org.lulonglong.filter.ValidateFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ValidateFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- spring Listener -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>

	<!-- validate params Listener -->
	<listener>
		<listener-class>org.lulonglong.listener.ValidateListener</listener-class>
	</listener>

	<!-- servlets -->
	<servlet>
		<servlet-name>ValidateRegisterServlet</servlet-name>
		<servlet-class>locationshare.base.servlet.ServletProxy</servlet-class>
		<init-param>
			<param-name>targetBean</param-name>
			<param-value>validateRegisterServlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ValidateRegisterServlet</servlet-name>
		<url-pattern>/ValidateRegister</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SignUpServlet</servlet-name>
		<servlet-class>locationshare.base.servlet.ServletProxy</servlet-class>
		<init-param>
			<param-name>targetBean</param-name>
			<param-value>signUpServlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignUpServlet</servlet-name>
		<url-pattern>/SignUp</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LogInServlet</servlet-name>
		<servlet-class>locationshare.base.servlet.ServletProxy</servlet-class>
		<init-param>
			<param-name>targetBean</param-name>
			<param-value>logInServlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogInServlet</servlet-name>
		<url-pattern>/LogIn</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RecordLogInInfoServlet</servlet-name>
		<servlet-class>locationshare.base.servlet.ServletProxy</servlet-class>
		<init-param>
			<param-name>targetBean</param-name>
			<param-value>recordLogInInfoServlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>RecordLogInInfoServlet</servlet-name>
		<url-pattern>/RecordLogInInfo</url-pattern>
	</servlet-mapping>

	<!-- conf file -->
	<env-entry>
		<env-entry-name>locationshare_property_file_name</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>WEB-INF/conf/locationshare.conf</env-entry-value>
	</env-entry>
</web-app>