<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">org.gjt.mm.mysql.Driver</property>
		<property name="hibernate.connection.password">880923aa</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/app_locationshare</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLMyISAMDialect</property>
		
		<!-- c3p0 -->
		<property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider </property>
		<property name="hibernate.c3p0.min_size">2</property>
		<property name="hibernate.c3p0.max_size">10</property>
		<!-- 25second,sae will disconnect after 30 
		<property name="hibernate.c3p0.timeout">25</property>
		<property name="hibernate.c3p0.validate">true</property>-->
		<property name="hibernate.c3p0.automaticTestTable">c3p0_testtable</property>
		<property name="hibernate.c3p0.idle_test_period">8</property>
		<mapping resource="locationshare/hibernate/TbUser.hbm.xml" />
		<mapping resource="locationshare/hibernate/TbException.hbm.xml" />
		<mapping resource="locationshare/hibernate/TbLogininfo.hbm.xml" />
		<mapping resource="locationshare/hibernate/TbUserDetail.hbm.xml" />
	</session-factory>
</hibernate-configuration>
